<nav id="top-nav">
  <ul>
    <li><a href="/animal">Animals</a></li>
    <li><a href="/animal/dogs">Dogs</a></li>
    <li><a href="/animal/breeds">Breeds</a></li>
    <li><a href="/animal/about">About</a></li>
  </ul>
</nav>
