<h1><%= pageTitle %></h1>
<p>This is the splash / landing page.</p>
<p>The name of this test site is <b><%= browser.title %></b>.</p>
<p>
  Sdg is a minimalistic node.js server template created April 16, 2023. There
  are more details about the structure, languages, and tools used; in the
  <a class="normal-link" href="/animal/about">About</a> page.
</p>
